:root {
    --bg-light-color: #ffffff;
    --green-color: #037952;
    --pink-color: #dd7e82;
    --pink-color: #787d87;
    --light-green-color: #787d87;
}

.light-theme {
    background-color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.light-theme .header {
    background-color: #000;
    border-radius: 12px;
}