:root {
    --bg-light-color: #ffffff;
    --green-color: #037952;
    --pink-color: #dd7e82;
    --pink-color: #787d87;
    --light-green-color: #64ffc1;
}

h1,
h2,
.dev-heading,
.highlight-text {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    letter-spacing: -0.5px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #0f0f0f;
    color: #d0d0d0;
}

.light-theme {
    background-color: #e5e7eb;
    margin: 0 !important;
    padding: 1px 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: #000;
    border-radius: 12px;
    margin: 20px 40px;
}

.header .logo h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    line-height: normal;
    font-family: 600;
}

.header .logo h1 span:first-child {
    color: var(--light-green-color);
}

.header .logo h1 span {
    display: flex;
    align-items: center;
    margin-right: 10px;
    line-height: normal;
}

.header .nav ul,
.header .social-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #fff;
    gap: 30px;
    font-size: 1.2rem;
    font-weight: 400;
}

.hero-section {
    background-color: var(--bg-light-color);
    color: var(--text-color);
    border-radius: 12px;
    padding: 100px 60px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-grid {

    flex: 1 1 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left {
    flex: 1 1 500px;
    font-family: var(--font-mono);
}

.hero-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
}

.image-placeholder img {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
}

.intro-text {
    color: var(--light-green-color);
    font-size: 1.5rem;
}

.name-text {
    font-size: 5rem;
    font-weight: 700;
    margin: 10px 0;
}

.role-text {
    color: var(--light-green-color);
    font-size: 2rem;
}

.dev-subtext {
    color: var(--light-green-color);
    font-size: 1.5rem;
}

.location-text {
    color: var(--pink-color);
    margin: 20px 0;
    font-style: italic;
}

.email-link {
    color: var(--light-green-color);
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 1px dashed var(--light-green-color);
}

.email-link:hover {
    color: #66ffcc;
}