@import "tailwindcss";

@keyframes waveSlide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-wave {
    animation: waveSlide 10s linear infinite;
}